<script lang="ts">
    import LeafletMap from "$lib/components/leaflet/LeafletMap.svelte";
    import LeafletTreeMarker from "$lib/components/leaflet/LeafletTreeMarker.svelte";
    import Sidebar from "$lib/components/Sidebar.svelte";
    import Spinner from "$lib/components/Spinner.svelte";
    import { MapStore, SelectedTreeStore } from "$lib/stores/map";
    import type { Tree, User } from "$lib/types";
    import TreeSidebarContent from "$lib/components/tree/TreeSidebarContent.svelte";
    import Modal from "$lib/components/Modal.svelte";
    import TreeAddForm from "$lib/components/tree/TreeAddForm.svelte";
    import { UserStore } from "$lib/stores/user";
    import TreeDatapointForm from "$lib/components/tree/TreeDatapointForm.svelte";
    import IsAuthenticated from "$lib/components/auth/IsAuthenticated.svelte";
    import Toolbar from "$lib/components/Toolbar.svelte";

    function fetchTrees() {
        return fetch("/api/tree/all.json").then((d) => d.json());
    }

    let treesPrommise = fetchTrees();

    let user: User | null;
    UserStore.subscribe((u) => {
        user = u;
    });

    let currentTree: Tree | null;
    SelectedTreeStore.subscribe((tree) => {
        currentTree = tree;
    });

    let showSidebar: boolean = false;
    let showTreeAdd: boolean = false;
    let showDatapointAdd: boolean = false;

    let treeAddCoords: [number, number];

    function handleTreeClick(e: CustomEvent) {
        const tree = e.detail.tree;
        SelectedTreeStore.set(tree);
        showSidebar = true;
        MapStore.subscribe((map) => {
            if (map) {
                map.setView(
                    [
                        tree.geometry.coordinates[1],
                        tree.geometry.coordinates[0],
                    ],
                    15
                );
            }
        });
    }
    function handleTreeAdd() {
        MapStore.subscribe((map) => {
            if (map) {
                map.getContainer().style.cursor = "crosshair";
                map.addOneTimeEventListener(
                    "click",
                    (e: L.LeafletMouseEvent) => {
                        showTreeAdd = true;
                        treeAddCoords = [e.latlng.lng, e.latlng.lat];
                        map.getContainer().style.cursor = "default";
                    }
                );
            }
        });
    }
    function handelTreeSubmit() {
        MapStore.subscribe((map) => {
            if (map) {
                map.getContainer().style.cursor = "";
            }
        });
        treesPrommise = fetchTrees();
        showTreeAdd = false;
        treeAddCoords = [0, 0];
    }

    function handelDatapointSubmit(e: CustomEvent) {
        treesPrommise = fetchTrees();
        SelectedTreeStore.update((tree) => {
            tree?.properties.changes.push(e.detail);
            return tree;
        });
        showDatapointAdd = false;
    }
</script>

{#await treesPrommise}
    <Spinner />
{:then trees}
    <Sidebar
        on:close={(e) => {
            history.pushState(null, "", "/");
            showSidebar = false;
        }}
        show={showSidebar}
    >
        <TreeSidebarContent
            on:add_datapoint={() => (showDatapointAdd = true)}
        />
    </Sidebar>
    <LeafletMap>
        {#each trees.features as tree}
            <LeafletTreeMarker
                on:click={handleTreeClick}
                {tree}
                lat={tree.geometry.coordinates[1]}
                lon={tree.geometry.coordinates[0]}
            />
        {/each}
    </LeafletMap>
    <IsAuthenticated>
        <Modal bind:show={showTreeAdd} title="Add Tree">
            <TreeAddForm
                on:submit={handelTreeSubmit}
                slot="body"
                bind:coords={treeAddCoords}
            />
        </Modal>
        {#if currentTree}
            <Modal
                bind:show={showDatapointAdd}
                title={`Add Databoint for Tree ${currentTree.properties.name}`}
            >
                <TreeDatapointForm
                    on:submit={handelDatapointSubmit}
                    slot="body"
                    treeId={currentTree.id}
                />
            </Modal>
        {/if}

        <Toolbar on:add-tree={handleTreeAdd} />
    </IsAuthenticated>
{/await}
