<script lang="ts">
    import type { Key, Tag, TagFormError } from "$lib/types";
    import NumberInput from "../forms/NumberInput.svelte";
    import TextInput from "../forms/TextInput.svelte";

    let keyPromisse: Promise<Key[]> = fetch("/api/tree/keys.json").then(
        (data) => data.json()
    );

    export let tagFormErrors: TagFormError = {};

    export let tag: Tag;
    let tagValue: any;
    $: {
        switch (tag.key.tag_type) {
            case "boolean":
                tag.value =
                    tagValue !== null ? JSON.stringify(tagValue) : "false";
                break;

            case "numeric":
                tag.value = tagValue !== null ? JSON.stringify(tagValue) : null;
                break;

            default:
                tag.value = tagValue;
                break;
        }
    }
</script>

{#await keyPromisse then keys}
    <div class="row g-3 mb-1">
        <div class="col pb-3">
            <select
                on:change={() => {
                    tagValue = null;
                }}
                bind:value={tag.key}
                class="form-select h-100"
                class:is-invalid={tagFormErrors["value"] ? true : false}
            >
                {#each keys as key}
                    <option
                        contenteditable="true"
                        value={key}
                        bind:textContent={key.key}
                    />
                {/each}
            </select>
        </div>
        <div class="col">
            {#if tag.key.tag_type === "text"}
                <TextInput
                    bind:value={tagValue}
                    id="value"
                    errors={tagFormErrors}
                    name={tag.key.key}
                />
            {/if}
            {#if tag.key.tag_type === "numeric"}
                <NumberInput
                    bind:value={tagValue}
                    id="value"
                    errors={tagFormErrors}
                    name={tag.key.key}
                />
            {/if}
            {#if tag.key.tag_type === "boolean"}
                <div class="p-0 form-check w-100 h-100 form-switch">
                    <input
                        bind:checked={tagValue}
                        type="checkbox"
                        class="my-auto form-check-input w-100"
                        class:is-invalid={tagFormErrors["value"] ? true : false}
                        role="switch"
                        id="lat"
                    />
                </div>
            {/if}
        </div>
    </div>
{/await}

<style>
    .form-switch {
        margin-left: 2.5rem;
    }
    .form-check-input {
        height: 2.3rem;
    }
</style>
